{{#each move}}
<li class="move-item">
    <h2 class="move-photo">{{id}}</h2>
    <h2 class="move-title">{{name}}</h2>
    <p class="move-genre">{{price}}</p>
    <p class="move-description">{{description}}</p>
</li>
{{/each}}